* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    overflow: hidden;
    background-image: url(../img/drew-coffman-1872.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;

}

.about {
    background-color: teal;
    color: white;

}

.caption {
    width: 50%;
    color: white;
    text-align: center;
    margin: 200px auto;
    position: relative;
    z-index: 2;

}




/* .panel {
    background-color: antiquewhite;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5px;
    margin: 100px auto;
    width: 40px;
    height: 60px;
    position: absolute;
    z-index: 99;
    right: 0; 


}

.panel li {

    padding: 6px;
    right: 0;
    top: 40%;
    width: 35px;
    height: 35px;


}  */

/* .panel img:hover {
    background-color: rgb(147, 125, 2);
    border-radius: 10%;


} */

/* Logo styling */
.logo {
    width: 120px; /* logo width */
    height: auto; /* fit height automatically */
}
.features-list {
    margin-top: 10px;
}

/* Feature section styling - List */
.feature-item {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 25px; /* Space between feature items */
}
/* Feature icon styling - list icon*/
.feature-icon {
    width: 55px; /* Set width for the icon container */
    height: 55px; /* Set height for the icon container */
    border-radius: 50%; /* Make it circular */
    border: 2px solid #ddd; /* Light border */
    display: flex; /* Use flexbox to center icon */
    justify-content: center; /* Center icon horizontally */
    align-items: center; /* Center icon vertically */
    margin-right: 15px; /* Space between icon and text */
    font-size: 22px; /* Icon size */
    color: #9a7b4f; /* Icon color */
    
}


